@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure 💜 Amar 💜 Deepak !! Yes </h1>
    <p class="lead">Example .NET app to Azure App Service for Amar.</p>
</div>
